Repository sgdevcamp2022/yamyam, pull requests merged in 2023-02, with the labels that each got.

#18 [ADD] #12 포커 게임 서버 프로젝트 세팅
  backend/poker-service/.gitignore
  backend/poker-service/build.gradle
  backend/poker-service/gradle/wrapper/gradle-wrapper.jar
  backend/poker-service/gradle/wrapper/gradle-wrapper.properties
  backend/poker-service/gradlew
  backend/poker-service/gradlew.bat
  backend/poker-service/settings.gradle
  backend/poker-service/src/main/java/com/pokerservice/PokerServiceApplication.java
  backend/poker-service/src/main/resources/application.properties
  backend/poker-service/src/test/java/com/pokerservice/GameServiceApplicationTests.java
Labels: backend 🖥, chore

#23 [ADD] 로그인화면 로직 구현
  client/NoPOKER/Assets/Scenes/LoginScene.unity
  client/NoPOKER/Assets/Script/2D/Login.meta
  client/NoPOKER/Assets/Script/2D/Login/Alert.cs
  client/NoPOKER/Assets/Script/2D/Login/Alert.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/FindID.cs
  client/NoPOKER/Assets/Script/2D/Login/FindID.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/FindPW.cs
  client/NoPOKER/Assets/Script/2D/Login/FindPW.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/Login.cs
  client/NoPOKER/Assets/Script/2D/Login/Login.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/SignUp.cs
  client/NoPOKER/Assets/Script/2D/Login/SignUp.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/WindowController.cs
  client/NoPOKER/Assets/Script/2D/Login/WindowController.cs.meta
  client/NoPOKER/Assets/Script/Common/GameManager.cs
  client/NoPOKER/Assets/Script/Common/GameManager.cs.meta
Labels: client 🕹

#22 [ADD] 로비화면 매칭 UI 구현
  client/NoPOKER/Assets/Image/UI/Loading.png
  client/NoPOKER/Assets/Image/UI/Loading.png.meta
  client/NoPOKER/Assets/Image/UI/LobbyBackground.png
  client/NoPOKER/Assets/Image/UI/LobbyBackground.png.meta
  client/NoPOKER/Assets/Scenes/LobbyScene.unity
  client/NoPOKER/Assets/Script/2D/Chatting.meta
  client/NoPOKER/Assets/Script/2D/Chatting/Chatting.cs
  client/NoPOKER/Assets/Script/2D/Chatting/Chatting.cs.meta
  client/NoPOKER/Assets/Script/2D/Chatting/SendChatt.cs
  client/NoPOKER/Assets/Script/2D/Chatting/SendChatt.cs.meta
  client/NoPOKER/Assets/Script/2D/Lobby.meta
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyChoiceAlert.cs
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyChoiceAlert.cs.meta
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyWindowController.cs
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyWindowController.cs.meta
  client/NoPOKER/Assets/Script/2D/Match.meta
  client/NoPOKER/Assets/Script/2D/Match/Match.cs
  client/NoPOKER/Assets/Script/2D/Match/Match.cs.meta
  client/NoPOKER/Assets/Script/2D/UI/UIRecycleViewCellSample.cs
  client/NoPOKER/Assets/Script/2D/UI/UIRecycleViewControllerSample.cs
Labels: client 🕹

#26 [ADD] 유저 게임 매칭 구현
  backend/match-service/.gitignore
  backend/match-service/build.gradle
  backend/match-service/gradle/wrapper/gradle-wrapper.jar
  backend/match-service/gradle/wrapper/gradle-wrapper.properties
  backend/match-service/gradlew
  backend/match-service/gradlew.bat
  backend/match-service/settings.gradle
  backend/match-service/src/main/java/com/matchservice/MatchServiceApplication.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/ws/MatchController.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/ws/WebSocketEventListener.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/MatchInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/MatchQueueInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/PlayerInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/config/CustomHandshakeHandler.java
  backend/match-service/src/main/java/com/matchservice/config/StompPrincipal.java
  backend/match-service/src/main/java/com/matchservice/config/WebSocketConfig.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Lobby.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Match.java
  backend/match-service/src/main/java/com/matchservice/core/domain/MatchMessage.java
  backend/match-service/src/main/java/com/matchservice/core/domain/MatchType.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Player.java
  backend/match-service/src/main/java/com/matchservice/core/port/in/MatchingUseCase.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/MatchPort.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/MatchQueuePort.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/PlayerPort.java
  backend/match-service/src/main/java/com/matchservice/core/service/MatchingService.java
  backend/match-service/src/main/resources/application.yaml
  backend/match-service/src/test/java/com/matchservice/MatchServiceApplicationTests.java
  backend/match-service/src/test/java/com/matchservice/core/domain/MatchTest.java
Labels: feature, backend 🖥

#27 [ADD] 포커 입장 구현
  backend/poker-service/.gitignore
  backend/poker-service/build.gradle
  backend/poker-service/src/main/java/com/pokerservice/config/CustomHandshakeHandler.java
  backend/poker-service/src/main/java/com/pokerservice/config/StompPrincipal.java
  backend/poker-service/src/main/java/com/pokerservice/config/WebSocketBrokerConfig.java
  backend/poker-service/src/main/java/com/pokerservice/controller/rest/GameInfoController.java
  backend/poker-service/src/main/java/com/pokerservice/controller/rest/GameManageController.java
  backend/poker-service/src/main/java/com/pokerservice/controller/ws/GameController.java
  backend/poker-service/src/main/java/com/pokerservice/controller/ws/GameMessage.java
  backend/poker-service/src/main/java/com/pokerservice/controller/ws/TestController.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/Game.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/GameState.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/GameType.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/Player.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/PlayerStatus.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/User.java
  backend/poker-service/src/main/java/com/pokerservice/core/port/GameEnterUseCase.java
  backend/poker-service/src/main/java/com/pokerservice/core/port/GameMakeUseCase.java
  backend/poker-service/src/main/java/com/pokerservice/core/port/GameStoragePort.java
  backend/poker-service/src/main/java/com/pokerservice/core/port/GameUseCase.java
  backend/poker-service/src/main/java/com/pokerservice/core/service/GameService.java
  backend/poker-service/src/main/java/com/pokerservice/core/service/SessionMessage.java
  backend/poker-service/src/main/java/com/pokerservice/infra/GameInMemoryAdapter.java
  backend/poker-service/src/test/java/com/pokerservice/RandomTest.java
Labels: feature, backend 🖥

#29 [feat] #28 DockerFile 추가
  backend/match-service/Dockerfile
Labels: backend 🖥, infra

#30 [Fix] 채팅 버그 수정
  client/NoPOKER/Assets/Scenes/LobbyScene.unity
  client/NoPOKER/Assets/Script/2D/Chatting/Chatting.cs
  client/NoPOKER/Assets/Script/2D/UI/UIRecycleViewController.cs
  client/NoPOKER/Assets/Script/2D/UI/UIRecycleViewControllerSample.cs
Labels: client 🕹

#32 Feat/match service dockerfile
  backend/match-service/Dockerfile
Labels: hotfix 🚨, infra

#34 [FIX] match-service build.gradle 수정
  backend/match-service/build.gradle
Labels: hotfix 🚨

#37 [Add] 팀기능 추가 및 변경사항적용
  client/NoPOKER/Assets/Image/UI/LeaderUI.png
  client/NoPOKER/Assets/Image/UI/LeaderUI.png.meta
  client/NoPOKER/Assets/Plugins.meta
  client/NoPOKER/Assets/Plugins/websocket-sharp.dll
  client/NoPOKER/Assets/Plugins/websocket-sharp.dll.meta
  client/NoPOKER/Assets/Scenes/LobbyScene.unity
  client/NoPOKER/Assets/Script/2D/Chatting/Chatting.cs
  client/NoPOKER/Assets/Script/2D/Chatting/SendChatt.cs
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyAlert.cs
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyAlert.cs.meta
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyChoiceAlert.cs
  client/NoPOKER/Assets/Script/2D/Lobby/LobbyWindowController.cs
  client/NoPOKER/Assets/Script/2D/Lobby/Team.cs
  client/NoPOKER/Assets/Script/2D/Lobby/Team.cs.meta
  client/NoPOKER/Assets/Script/2D/Lobby/UITeam.cs
  client/NoPOKER/Assets/Script/2D/Lobby/UITeam.cs.meta
  client/NoPOKER/Assets/Script/2D/Login/Alert.cs
  client/NoPOKER/Assets/Script/2D/Login/FindID.cs
  client/NoPOKER/Assets/Script/2D/Login/Login.cs
  client/NoPOKER/Assets/Script/2D/Login/ResetPW.cs
  client/NoPOKER/Assets/Script/2D/Login/SignUp.cs
  client/NoPOKER/Assets/Script/2D/Login/WindowController.cs
  client/NoPOKER/Assets/Script/2D/Match/Match.cs
  client/NoPOKER/Assets/Script/2D/RecycleView.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/AllChattRecycleViewController.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/AllChattRecycleViewController.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/AllUserRecycleViewController.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/AllUserRecycleViewController.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/TeamChattRecycleViewController.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/TeamChattRecycleViewController.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCell.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCell.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCellChatting.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCellChatting.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCellUser.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewCellUser.cs.meta
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewController.cs
  client/NoPOKER/Assets/Script/2D/RecycleView/UIRecycleViewController.cs.meta
  client/NoPOKER/Assets/Script/Common/UserInfo.cs
  client/NoPOKER/Assets/Script/Common/UserInfo.cs.meta
Labels: client 🕹

#52 match.cs 리팩토링
  client/NoPOKER/Assets/Script/2D/Match/Match.cs
Labels: client 🕹, refactor

#50 [Feat] 원거리 공격 및 피격 구현
  client/NoPOKER/Assets/Animation/Player.controller
  client/NoPOKER/Assets/Photon.meta
  client/NoPOKER/Assets/Photon/PhotonLibs.meta
  client/NoPOKER/Assets/Photon/PhotonLibs/Metro.meta
  client/NoPOKER/Assets/Photon/PhotonLibs/netstandard2.0.meta
  client/NoPOKER/Assets/QuarterView 3D Action BE5/Prefabs/Bullet Case 1.prefab
  client/NoPOKER/Assets/QuarterView 3D Action BE5/Prefabs/Bullet Case 1.prefab.meta
  client/NoPOKER/Assets/QuarterView 3D Action BE5/Prefabs/Bullet HandGun.prefab
  client/NoPOKER/Assets/QuarterView 3D Action BE5/Prefabs/Bullet HandGun.prefab.meta
  client/NoPOKER/Assets/Scenes/GameScene.unity
  client/NoPOKER/Assets/Script/3D/Bullet.cs
  client/NoPOKER/Assets/Script/3D/Bullet.cs.meta
  client/NoPOKER/Assets/Script/3D/Enemy.cs
  client/NoPOKER/Assets/Script/3D/Enemy.cs.meta
  client/NoPOKER/Assets/Script/3D/Indian.cs
  client/NoPOKER/Assets/Script/3D/Weapon.cs
  client/NoPOKER/Packages/manifest.json
  client/NoPOKER/Packages/packages-lock.json
  client/NoPOKER/ProjectSettings/DynamicsManager.asset
  client/NoPOKER/ProjectSettings/EditorSettings.asset
  client/NoPOKER/ProjectSettings/InputManager.asset
  client/NoPOKER/ProjectSettings/TagManager.asset
  client/NoPOKER/ProjectSettings/TimelineSettings.asset
Labels: client 🕹

#59 feat docker nginx auth_request 디버깅
  backend/nginx/Dockerfile
  backend/nginx/address.conf
  backend/nginx/nginx.conf
Labels: backend 🖥, hotfix 🚨

#62 Backend/makefile
  backend/Makefile
Labels: feature, backend 🖥, infra, chore

#70 [FIX] 인코딩 문제로 프로젝트 전체 재업로드
  backend/match-service/src/main/java/com/matchservice/MatchServiceApplication.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/rest/MatchInfoController.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/rest/TestController.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/ws/CancelMatchEvent.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/ws/MatchController.java
  backend/match-service/src/main/java/com/matchservice/adapter/in/ws/WebSocketEventListener.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/client/GameWebSocketClient.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/client/PokerAPIRestTemplate.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/storage/MatchInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/storage/MatchQueueInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/adapter/out/storage/PlayerInMemoryAdapter.java
  backend/match-service/src/main/java/com/matchservice/config/CustomHandshakeHandler.java
  backend/match-service/src/main/java/com/matchservice/config/CustomStompExceptionHandler.java
  backend/match-service/src/main/java/com/matchservice/config/StompPrincipal.java
  backend/match-service/src/main/java/com/matchservice/config/WebSocketConfig.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Lobby.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Player.java
  backend/match-service/src/main/java/com/matchservice/core/domain/Team.java
  backend/match-service/src/main/java/com/matchservice/core/domain/match/Match.java
  backend/match-service/src/main/java/com/matchservice/core/domain/match/MatchStatus.java
  backend/match-service/src/main/java/com/matchservice/core/domain/message/MatchMessage.java
  backend/match-service/src/main/java/com/matchservice/core/domain/message/Message.java
  backend/match-service/src/main/java/com/matchservice/core/domain/message/TeamMatchMessage.java
  backend/match-service/src/main/java/com/matchservice/core/port/in/MatchInfoUseCase.java
  backend/match-service/src/main/java/com/matchservice/core/port/in/MatchingUseCase.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/GameMakeUseCase.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/GameUseCase.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/MatchPort.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/MatchQueuePort.java
  backend/match-service/src/main/java/com/matchservice/core/port/out/PlayerPort.java
  backend/match-service/src/main/java/com/matchservice/core/service/MatchInfoService.java
  backend/match-service/src/main/java/com/matchservice/core/service/MatchingService.java
  backend/match-service/src/test/java/com/matchservice/MatchServiceApplicationTests.java
  backend/match-service/src/test/java/com/matchservice/adapter/in/ws/MatchControllerTest.java
  backend/match-service/src/test/java/com/matchservice/common/MessageFrameHandler.java
  backend/match-service/src/test/java/com/matchservice/common/StompSupport.java
  backend/match-service/src/test/java/com/matchservice/core/domain/MatchTest.java
  backend/match-service/src/test/java/com/matchservice/core/domain/PlayerTest.java
  backend/match-service/src/test/java/com/matchservice/core/service/MatchingServiceTest.java
Labels: backend 🖥

#74 Backend/poker call logic
  backend/poker-service/Dockerfile
  backend/poker-service/src/main/java/com/pokerservice/adapter/in/ws/GameController.java
  backend/poker-service/src/main/java/com/pokerservice/adapter/in/ws/GameManager.java
  backend/poker-service/src/main/java/com/pokerservice/adapter/in/ws/WebSocketEventListener.java
  backend/poker-service/src/main/java/com/pokerservice/adapter/in/ws/message/PokerMessage.java
  backend/poker-service/src/main/java/com/pokerservice/adapter/in/ws/message/content/serverContent/GameStartContent.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/Game.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/Player.java
  backend/poker-service/src/main/java/com/pokerservice/core/domain/PlayerStatus.java
  backend/poker-service/src/main/java/com/pokerservice/core/port/in/GameUseCase.java
  backend/poker-service/src/main/java/com/pokerservice/core/service/Battle3DService.java
  backend/poker-service/src/main/java/com/pokerservice/core/service/GameService.java
  backend/poker-service/src/main/java/com/pokerservice/core/service/NoBattleService.java
  backend/poker-service/src/test/java/com/pokerservice/core/domain/GameTest.java
Labels: feature, backend 🖥, hotfix 🚨

#75 [FIX] Docker-Compose 수정
  backend/docker-compose.prod.yml
  backend/docker-compose.yml
Labels: backend 🖥, infra

#76 DockerFile, Application.yaml 추가
  backend/match-service/Dockerfile
  backend/match-service/src/main/resources/application.yaml
Labels: backend 🖥, hotfix 🚨
